.helloInput {
  width: 200px;
}

.title {
  color: rgb(10, 101, 124);
}
.mainText {
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #caf0f3;
}

.page-footer {
  background-color: #22dbfc;
}
main {
  flex: 1 0 auto;
}
.nav-wrapper {
  background-color: #58e3fb;
}

.brand-logo img {
  height: 40px;
}

.brand-logo,
.right {
  height: 100%;
}
.brand-logo {
  height: 100%;
}

.right {
  height: 100%;
}

#project-image {
  font: cyan-text text-lighten-3;
}

.msg-left {
  padding: 3px;
  float: left;
  border: 2px white solid;
  border-radius: 10px;
  background-color: #bff395;
  color: black;
}

.msg-right {
  padding: 3px;
  float: right;
  border: 2px white solid;
  border-radius: 10px;
  background-color: rgb(143, 241, 241);
  color: rgb(32, 11, 71);
}
